@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  background: #faf7f2;
  margin: 0 auto;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  width: 100%;
  isolation: isolate;
}
.Main {
  font-family: Poppins;
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

.Main .App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  width: 50%;
  height: auto;
}

.Main .App > h1 {
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 100%;
}

.Main .App .Search {
  width: 100%;
  height: 42px;
}

.Main .App .Search input {
  width: inherit;
  border: solid 1px gray;
  height: inherit;
  padding: 0 1rem;
}

.Main .App .Search input:focus {
  outline: none;
}

.Main .AddBtn {
  position: fixed;
  bottom: 44px;
  right: 95px;
}

.EmptyList {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 2rem;
  font-weight: 200;
  margin-top: 7rem;
}

.MovieList {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  margin-top: 2.5rem;
}

/* Movie styles is here*/
.Movie {
  display: flex;
  background: white;
  width: inherit;
  height: 250px;
}

.Movie .Cover {
  position: relative;
  left: 2rem;
  bottom: 2rem;
  width: 25%;
  height: 100%;
  box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25);
}

.Movie .Cover img {
  width: 100%;
  height: inherit;
}

.Movie .Content {
  display: flex;
  flex-direction: column;
  align-items: first baseline;
  justify-content: center;
  row-gap: 1rem;
  margin-left: 6rem;
}

.Movie .Content :first-child {
  color: #6f6f6f;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.Movie .Content :last-child {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.Movie .Content :last-child .Watched {
  background: #9c948a;
  color: white;
  padding: 0.5rem 1.5rem;
}
